SriramDemo/ProjectFlow/businessCatalog/ProjectTypes/ApprovalRequirement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.1.61" build="1.61" fullName="ProjectTypes.ApprovalRequirement" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ProjectTypes/ApprovalRequirement" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ProjectTypes/ApprovalRequirement"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ApprovalRequirementType">
        <xs:sequence>
            <xs:element name="highLevelCostApproval" nillable="true" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ApprovalRequirement" type="ApprovalRequirementType"/>
</xs:schema>
